InsuranceCompanyA/.vs
InsuranceCompanyA/InsuranceCompanyA.API/bin
InsuranceCompanyA/InsuranceCompanyA.API/obj
InsuranceCompanyB/.vs
InsuranceCompanyB/InsuranceCompanyB.API/bin
InsuranceCompanyB/InsuranceCompanyB.API/obj
InsuranceCompanyC/.vs
InsuranceCompanyC/InsuranceCompanyC.API/obj
InsuranceCompanyC/InsuranceCompanyC.API/bin
